body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    background-color: #EEEFF1;
    width: 100vw;
}

.menu {
    width: 40vw;
    margin: 0;
    padding-top: 40px;
    padding-left: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover {
    color: #007bff;
}
.container {
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 200px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.container h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
}

.container p {
    color: #727272;
    width: 33vw;
}

.container a {
    color: #FFFFFF;
    background-color: #34547A;
    padding: 20px;
    width: 10vw;
    text-align: center;
    text-decoration: none;
}

.container a:hover {
    background-color: #253B59;
}

.about {
    margin: 60px auto 50px;
    text-align: center;
    width: 33vw;
}

.about h3 {
    font-weight: 500;
    font-size: 32px;
}

.about p {
    color: #727272;
}

.project {
    background-color: #34547A;
    padding: 50px;
}

.project__flex {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
}

.project__item {
    width: 15%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.project__item img {
    width: 50px;
    height: 50px;
}

.project__item--txt h4 {
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
    margin: 0;
}

.project__item--txt p {
    color: #FFFFFF;
    margin: 0;
}

.wrapper {
    text-align: center;
    padding-top: 50px;
    background-color: #EEEFF1;
    padding-bottom: 50px;
}

.wrapper h3 {
    font-size: 32px;
    font-weight: 500;
}

.wrapper p {
    color: #727272;
    width: 33vw;
    margin: 0 auto 25px;
}

.wrapper iframe {
    width: 70vw;
    height: 30rem;
    margin: 0 auto;
}

footer {
    background-color: #34547A;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 200px;
}

footer h5 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
}
footer p {
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 13px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .menu  {
        padding-left: 20px;
        width: 100vw;
        flex-direction: column;
        gap: 7px;
    }

    .container {
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 35px;
    }

    .container h1 {
        font-size: 32px;
        margin: 0 auto;
    }

    .container p {
        width: 80vw;
        margin: 0;
        text-align: justify;
    }

    .container a {
        width: 70vw;
        margin: 0 auto;
        padding: 10px;
    }

    .about {
        margin: 0;
        padding-left: 20px;
    }

    .about h3 {
        font-size: 28px;
    }

    .about p {
        text-align: justify;
        width: 80vw;
        padding-bottom: 15px;
    }

    .project {
        padding: 0;
    }

    .project__flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
        align-items: center;
    }

    .wrapper h3 {
        font-size: 28px;
        margin-top: 0;
        margin-right: 140px;
    }

    .wrapper p {
        margin: 0;
        padding: 0 20px 25px;
        text-align: justify;
        width: 80vw;
    }

    .wrapper iframe {
        height: auto;
        margin: 0;
    }

    footer {
        padding-left: 20px;
    }
}

/* Medium devices (landscape tablets, 601px and up to 992px) */
@media (min-width: 601px) and (max-width: 992px) {
    .menu {
        width: 80vw;
        margin: 0 auto;
        padding-left: 0;
    }

    .container {
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .container h1 {
        font-size: 36px;
        margin: 0 auto;
        width: 100vw;
        text-align: center;
        border-bottom: 3px solid black;
    }

    .container p {
        width: 60vw;
        margin: 0;
        text-align: justify;
        padding-left: 40px;
    }

    .container a {
        width: 60vw;
        margin: 0 auto;
        padding: 15px;
        background-color: rgb(10, 57, 57);
    }

    .about {
        margin: 0;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .about h3 {
        font-size: 30px;
        margin: 10px auto;
        width: 100vw;
        border-bottom: 2px solid black;
    }

    .about p {
        text-align: justify;
        width: 60vw;
        padding-left: 40px;

    }

    .project {
        padding: 0;
        background-color: rgb(10, 57, 57);
    }

    .project__flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        padding: 20px;
        align-items: center;
    }

    .wrapper h3 {
        font-size: 30px;
        margin-top: 0;
        width: 100vw;
        border-bottom: 2px solid black;
    }

    .wrapper p {
        margin: 0;
        padding: 0 20px 25px;
        text-align: justify;
        width: 60vw;
        padding-left: 40px;
    }

    .wrapper iframe {
        height: 20rem;
    }

    footer {
        background-color: rgb(10, 57, 57);
        padding-left: 40px;
    }
}