@import "../_variables";
@import "../_mixins";

.project {
    background-color: @blue;
    padding: @small;

    &__flex {
        .flex__between;
        margin: @center;
        width: 80vw;

        .project__item {
            width: 15%;
            display: flex;
            gap: 5px;
            align-items: center;

            img {
                width: @small;
                height: @small;
            }

            &--txt {
                h4 {
                    .heading(500, 21px, @primary-color);
                    margin: @zero;
                }

                p {
                   .text(@third, @primary-color);
                    margin: @zero;
                    width: auto;
                }
            }
        }
    }
}    

@media @tablet {
    .project {
        padding: @zero;
        background-color: @tablet-color;
    
        &__flex {
            .grid(1fr 1fr 1fr, 20px, 20px, center)
        }
    }
}

@media @mobile {
    .project {
        padding: @zero;
    
        &__flex {
            .grid(1fr 1fr, @padding, @padding, center);
        }
    }
}